# Blacklist everything
/*

# Never delete this block
!.gitignore
!README.md

# Whitelist here
!nvim
!amro.omp.json
!hypr
!.bashrc
!omarchy
!alacritty
!tmux
!sesh
!lf
!foot
!waywall

# Mac only
!aerospace

# Windows only
!wezterm
!komorebi
!yasb
!powershell
!windows-startup
